body{
  background-color: #E2DED0;
}
@font-face {
  font-family: Myfont;
  src: url(Coco1.ttf);
}

@font-face {
  font-family: Mynewfont;
  src: url(Monocole.otf);
}
@font-face {
  font-family: Love;
  src: url(Love.otf);
}
#img1{
  width:102%;
  margin-left: -10px;
  filter: brightness(70%);
}
.animate-fading{
  animation:fading 10s infinite;
}
@keyframes fading{
  0%{opacity:0;}
  50%{opacity:1;}
  100%{opacity:0;}
}
div.slides-container{
  z-index: 500;
}
.topics-container{
  z-index: 600;
  position: absolute;
  //left: 20%;
  top:25%;
  font-family: Myfont;
  font-weight: bold;
  text-shadow: 3px 2px 10px white;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  //width: 200px;
}
.topic{
  font-size: 140px;
  letter-spacing: 20px;
  line-height: 110px;
}

.subtopic1{
  font-size: 30px;
  text-shadow: 2px 2px 5px white;
}

.subtopic2{
  font-size: 40px;
}
h3{
  padding-left: 20%;
  font-family: Love;
  font-size: 30px;
}
p#whatiscc{
  font-family: Love;
  font-size: 25px;
  line-height: 30px;
  width:60%;
  padding-left: 18%;
  text-align: justify;
  letter-spacing: 2px;
}
div.iconContain{
  background-color:  #647C90;
  width:102%;
  padding-top: 10px;
  margin-left: -8px;
  padding-bottom: 50px;
  color:white;
}

div.icon-links{
  position: relative;
  left: 18%;
  width:62%;
}
.icon-links p{
  font-family: MyFont;
  font-size:20px;
  margin-left: 17%;

}
div.iconContain:hover{
  filter: brightness(104%);
}

.imglink{
  position: relative;
  width:42%;
  margin:10px 20px 10px 20px;
  box-shadow: 5px 3px 10px black;
  transition: transform .2s;
  border-radius: 4px;
}

.imglink:hover{
  transform: scale(1.05);
  filter: brightness(110%);
}

div.sdg{

  background-color:  #46783c;
  width:102%;
  padding-top: 50px;
  margin-left: -8px;
  padding-bottom: 75px;
  color:white;
  font-family: Love;
  #4E4F50
}

div.sdg h2{
  font-size: 40px;
  font-weight: bold;
  font-family: Myfont;
  padding-bottom: 20px;
}
div.sdg:hover{
  filter: brightness(105%);
}
div.sdg img{
  padding-left: 10%;
  width:24%;
  float:left;
}
.sdgPara{
  margin-left: 22%;
  width: 45%;
  font-size: 25px;
  text-align: justify;
  font-weight: none;
  letter-spacing: 2px;
  line-height: 34px;
}

.btn{
  font-family: Mynewfont;
    padding: 10px 20px 10px 20px;
    background-color: white;
    color: #46783c;
    box-shadow: 4px 2px 15px black;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 26px;
    border-radius: 5px;
}
div a.btn:hover{
  filter: brightness(120%);
}
div.aboutCont{
  background-color: #4E4F50;
  width:102%;
  padding-top: 50px;
  margin-left: -8px;
  padding-bottom: 50px;
  color:white;
  height:500px;
  font-family: Love;
}
div.aboutUs{
  width: 44%;
  margin-left: 2%;
  margin-right: 2%;
  height: 400px;
  float:left;
  line-height: 25px;

}
div.aboutCont h3{
  padding-left: 20px;
  letter-spacing: 2px;
}

.aboutUs p{
  margin-left: 30px;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: 3px;
  text-align:  justify;
}

.aboutUs ul li{
  font-size: 25px;
  line-height: 30px;
}
