    body{
      background-color: #E2DED0;
    }
    @font-face {
      font-family: Myfont;
      //src: url(AntipastoPro_trial.ttf);
      src: url(Coco1.ttf);
    }
    @font-face {
      font-family: Mynewfont;
      src: url(Monocole.otf);
    }
    @font-face {
      font-family: Love;
      src: url(Love.otf);
    }
    #img1{
      width:102%;
      margin-left: -10px;
      filter: brightness(70%);
    }
    .animate-fading{
      animation:fading 10s infinite;
    }
    @keyframes fading{
      0%{opacity:0;}
      50%{opacity:1;}
      100%{opacity:0;}
    }
    div.slides-container{
      z-index: 500;
    }
    .topics-container{
      z-index: 600;
      position: absolute;
      top:25%;
      font-family: Myfont;
      font-weight: bold;
      text-shadow: 3px 2px 10px white;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .topic{
      font-size: 140px;
      letter-spacing: 20px;
      line-height: 110px;
    }

    .subtopic1{
      font-size: 100px;
      text-shadow: 2px 2px 5px white;
      letter-spacing: 22px;
    }

    .subtopic2{
      font-size: 40px;
      letter-spacing: 30px;
    }
    h3{
      font-family: Tahoma;
      font-size: 30px;
    }
    p{
      font-family: Love;
      font-size: 25px;
      line-height: 30px;
      width:60%;
      padding-left: 18%;
      text-align: justify;
      letter-spacing: 2px;
    }
    div.iconContain{
      background-color:  #647C90;
      //height: 200px;
      width:112%;
      padding: 10px;
      margin-left: -82px;
      color:white;
    }

    div.icon-links{
      //margin-left:170px;
      position: relative;
      left: 18%;
      width:60%;
      border: 2px solid black;
      height: 200px;



    }
                                  #container
                                  {
                                    width:90%;
                                    margin:auto;
                                  }
                                  #header
                                  {
                                    width:1500px;
                                    height:150px;
                                    background-color:;
                                    border-bottom:5px solid green;
                                  }
                                  #headericon
                                  {
                                    width:60px;
                                    float:left;
                                  }
                                  #heading
                                  {
                                    color:green;
                                    padding:25px;
                                  }
                                  #pageSec ul
                                  {

                                    float:right;
                                    clear: left;
                                  }
                                  #pageSec ul li
                                  {
                                    display:inline;
                                    font-size: 20px;
                                    padding:10px 30px;
                                    border-radius: 0.25cm;
                                    border: 1.5px solid green;
                                  }
                                  #pageSec a[class="notselect"]
                                  {
                                    text-decoration:none;
                                    color: green;

                                  }
                                  #pageSec a:hover
                                  {
                                    text-decoration: none;
                                    color:white;
                                  }
                                  #pageSec ul li:hover
                                  {
                                    background-color: MediumSeaGreen;
                                  }
                                  .selected{
                                    background-color: mediumseagreen;
                                  }
                                  .selected a{
                                    color:white;
                                    text-decoration: none;
                                  }
                                  #body
                                  {

                                    color: green;
                                    width:90%;
                                    margin:auto;

                                    line-height: 2.5em;
                                    font-family:Arial,Helvetica,sans-serif;
                                  }
                                  .main-box img{
                                    width:80%;
                                    margin:auto;
                                    padding:20px 0px;

                                  }
                                  .main-box{
                                    padding:30px 0px;
                                  }
                                  .main-banner{
                                    color:#fff;
                                    background:#333;
                                    font-family: cursive;
                                    font-weight:bold;
                                    font-size: 30px;
                                    word-spacing: 0.2em;
                                    letter-spacing: 0.1em;
                                    text-align: center;
                                    padding: 20px;


                                    border:5px red dashed;
                                    margin:20px 0px;
                                    width:80%;
                                    margin:auto;
                                  }
                                  .main-banner h3{
                                    font-family:sans-serif;

                                    font-size: 40px;
                                  }
                                  .main-banner p{
                                    font-family:cursive;
                                    font-style: italic;
                                  }
                                  #ways{
                                    font-family: "Comic Sans MS",cursive,sans-serif;
                                    font-size: 40px;
                                    font-weight: lighter;
                                    font-style: oblique;
                                    line-height: 1.6em;
                                  }
                                  .main-box h1{
                                    font-family:Tahoma;
                                    text-align: center;
                                  }
                                  .main-group{
                                    padding:20px;
                                    color:#555555;
                                  }
                                  .main-group p{
                                    font-size: 20px;
                                    width:80%;
                                    font-family: Arial;
                                  }



                                  div.aboutCont{
                                    background-color: #4E4F50;
                                    width:102%;
                                    padding-top: 50px;
                                    margin-left: -8px;
                                    //padding-bottom: 50px;
                                    color:white;
                                    height:500px;
                                    font-family: Love;

                                    clear:both;
                                  }
                                  div.aboutUs{
                                    width: 44%;
                                    margin-left: 2%;
                                    margin-right: 2%;
                                    //height: 400px;
                                    float:left;
                                    line-height: 25px;

                                  }
                                  div.aboutCont h3{
                                    padding-left: 20px;
                                    letter-spacing: 2px;
                                  }

                                  .aboutUs p{
                                    margin-left: 30px;
                                    font-size: 20px;
                                    line-height: 34px;
                                    letter-spacing: 3px;
                                    text-align:  justify;

                                    width:90%;
                                    padding-left:25px;
                                    margin:0;
                                  }

                                  .aboutUs ul li{
                                    font-size: 20px;
                                    line-height: 30px;
                                  }
