.topiccontainer{
      z-index: 600;
      position: absolute;
      top:25%;
      font-family: Myfont;
      font-weight: bold;
      text-shadow: 3px 2px 10px white;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      padding-top:150px;
    }

.topic2{
      font-size: 140px;
      letter-spacing: 20px;
      line-height: 110px;
    }

    .topic1{
      font-size: 100px;
      text-shadow: 2px 2px 5px white;
    }

     #img1{
      width:102%;
      margin-left: -10px;
      filter: brightness(70%);
    }

img.im
{
	border:15px solid white;
	  width: 150px;
    height: 150px;
    object-fit: cover;
}
#para{
  font-family: Love;
  font-size: 20px;
  line-height: 40px;
  width:60%;
  padding-left: 18%;
  text-align: justify;
  letter-spacing: 2px;
  padding-top:1%;
}
 
h1#heading1
{
	text-align:center;
}

img#im2
{
	width:400px;
	height:450px;
}

.container {
  position: relative;

}

.text-block {
  position: absolute;
  align:center;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 2 px;
  padding-right: 2px;
}

#polythene
{
   
	border:15px solid white;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

#causes
{
	 font-family: Love;
  font-size: 18px;
  line-height: 40px;
  width:60%;
  padding-left: 18%;
  text-align: justify;
  letter-spacing: 2px;
}

iframe
{
	display: block;
	margin:0 auto;
}

                                                   div.aboutCont{
                                                    background-color: #4E4F50;
                                                    width:102%;
                                                    padding-top: 50px;
                                                    margin-left: -8px;
                                                    padding-bottom: 50px;
                                                    color:white;
                                                    height:500px;
                                                    font-family: Love;

                                                    clear:both;
                                                  }
                                                  div.aboutUs{
                                                    width: 44%;
                                                    margin-left: 2%;
                                                    margin-right: 2%;
                                                    height: 400px;
                                                    float:left;
                                                    line-height: 25px;

                                                  }
                                                  div.aboutCont h3{
                                                    padding-left: 20px;
                                                    letter-spacing: 2px;
                                                  }

                                                  .aboutUs p{
                                                    margin-left: 30px;
                                                    font-size: 25px;
                                                    line-height: 34px;
                                                    letter-spacing: 3px;
                                                    text-align:  justify;

                                                    width:90%;
                                                    padding:0;
                                                    margin:0;
                                                  }

                                                  .aboutUs ul li{
                                                    font-size: 25px;
                                                    line-height: 30px;
                                                  }
