body{
	background-color: black;
	background-image:url("images/spc5.jpg");
	font-family:verdana;
	}
/*site logo*/
#logo{
	z-index: 500;
	position: absolute;
	left: 43%;
	top: 0px;
	width:150px;
	height:65px;
}

#mq{
	color:white;
	font-size:25px;
	font-weight:bold;
}

#topic {
	font-family: Helvetica, sans-serif;
	font-size:150px;
	text-align:center;
	color:white;
	margin: 25px 0px 50px 0px;
	//float:center;
}
#topic1 {
	font-family: Helvetica, sans-serif;
	font-size:150px;
	font-weight:bold;
	text-align:center;
	color:white;
	margin: 0px 0px 0px 0px;
}

p{
	color:white;}

#earth {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 0px 0px 0px;
  width: 1200px;
  height: 500px;
}

/* Dropdown*/
 li{
		transition-duration: 0.7s;
	}
	li a:hover{
		cursor:pointer;}
		
	ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: black;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	font-family: Verdana;
	font-weight:bold;
	font-size: 100%;
	}
	
	
	ul li {
		background-color:white;
		width:100px;
		height:50px;
		line-height:50px;
		display:inline;
		float: left;
		padding-left: 10px;
		}
		
	ul li:hover {
		background-image:url("images/spc.jpg");
		color:white;
		}
		
	#topics:hover {
		width:240px;}
	/*#quo{
		width:820px;
		text-align:right;
		padding-right:10px;}*/
		
	ul ul{
		display:none;
		}
	ul li ul{
		float:right;}
	
	ul li:hover>ul{
		display:block;
		}
	ul li ul li{
		width: 240px;
		}
	
	li a{
	display:block;
	text-decoration:none;
	color:black;}
	
	li :hover{
	color:white;
	}



