body{
	background-color: black; 
	font-family: monospace;
	font-size: 200%;
	}

#topic {
	text-align:center;
	color:white;
	//float:center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F0FFFF;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  font-family: "Times New Roman";
  font-size: 70%;
}
p{
	color:white;}

#earth {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 0px 0px 0px;
  width: 1000px;
  height: 400px;
}
li {float:left;}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
	background-color: green;}
#quote{
	display: block;
  color: black;
  float: right;
  text-align: right;
  padding: 14px 16px;
	}
#quote1{
	display: block;
  color: black;
  text-align: right;
  padding: 14px 310px;
	}
