body{
	background-color: black;
	background-image:url("images/spc5.jpg");
	font-family:verdana;
	}
#logo{
	z-index: 500;
	position: absolute;
	left: 45%;
	top: 0px;
	width:150px;
	height:65px;
}
#logo1{
	z-index: 500;
	position: absolute;
	left: 87.5%;
	top: 0px;
	width:160px;
	height:60px;
	box-shadow: 0px 3px 25px #0431c4 ;
}
#sdg{
		width:40%;
		height:40%
}
.sdgdiv{
	background-color: white;
}
#homeico {
	width:35px;
	height:35px;
	margin-top:7px;
}


#mq{
	color:white;
	font-size:25px;
	font-weight:bold;
}

#topic {
	font-family: Helvetica, sans-serif;
	font-size:150px;
	text-align:center;
	color:white;
	margin: 25px 0px 50px 0px;
	//float:center;
}
#topic1 {
	text-shadow: 1px 1px 2px black, 0 0 25px #0431c4, 0 0 5px darkblue;
	//text-shadow: 0 0 10px #FFFFFF, -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	font-family: Helvetica, sans-serif;
	font-size:150px;
	font-weight:bold;
	text-align:center;
	color:#04fcad;
	margin: 0px 0px 0px 0px;
}

p{
	color:white;}

#earth {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 0px 0px 0px;
  max-width: 100%; //
  height: auto;//
}

/* Dropdown*/
 li{
		transition-duration: 0.7s;
	}
	li a:hover{
		cursor:pointer;}

	ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: black;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	font-family: Verdana;
	font-weight:bold;
	font-size: 100%;

	}


ul li {
		background-color:white;
		box-shadow: 5px 3px 25px #0431c4;
		width:100px;
		height:50px;
		line-height:50px;
		display:inline;
		float: left;
		padding-left: 10px;
		//opacity:90%;
		//border: 2px solid #761f2f;
		}

	ul li:hover {
		background-image:url("images/spc.jpg");
		color:white;
		}

	#topics:hover {
		width:240px;}

ul li#topics{
	border-top-right-radius: 15px;
	//border-bottom-right-radius: 15px;
}

/*#quo{
	width:820px;
	text-align:right;
	padding-right:10px;}*/

	ul ul{
		display:none;
		}
	ul li ul{
		float:right;}

	ul li:hover>ul{
		display:block;
		}
	ul li ul li{
		width: 240px;
		}

	li a{
	display:block;
	text-decoration:none;
	color:black;}

	li :hover{
	color:white;
	}
#home{
	padding-left:0px;
}
