
  #container
  {
    width:100%;
    height:;
    margin:0px;
  }
  #heading
  { color: green;
    padding:25px;
  }
  #headericon
  {
    float:left;
    width:60px;
  }
  #header
  {
    width:1500px;
    height:150px;
    background-color:;
    border-bottom:5px solid green;
  }
  #footer
  {
    width:1500px;
    height:500px;
    background-image:url(images/milkyway.jpg);
  }
  #pageSec ul
  {

    float:right;
    clear: left;
  }
  #pageSec ul li
  {
    display:inline;
    font-size: 20px;
    padding:10px 30px;
    border-radius: 0.25cm;
    border: 1.5px solid green;
  }
  .selected
  {
    background-color: MediumSeaGreen;
  }
  .selected a
  {
    text-decoration: none;
    color: white;
  }
  #pageSec a[class="notselect"]
  {
    text-decoration:none;
    color: green;

  }
  #pageSec a:hover
  {
    text-decoration: none;
    color:white;
  }
  #pageSec ul li:hover
  {
    background-color: MediumSeaGreen;
  }
  #body{
    clear: right;
    text-align: center;
    color: green;
    font-family:Arial,Helvetica,sans-serif;
    line-height: 2em;

    width:90%;
    margin:auto;
  }
  #pageHeading{
    font-family: Tahoma;
    clear: right;
    text-align: center;
    text-decoration: underline;
  }
  .dropdown {
    position:relative;
    display:inline-block;
    color:gold;
  }
  .dropdown-content
  {
    display:none;
    position:absolute;
    min-width: 500px;
    min-height: 500px;
    background-color: chocolate;
    color: white;
  }
  .dropdown:hover .dropdown-content
  {
    display:block;
  }
  .dropdown-content a{
    padding: 10px 20px;
    display:block;
  }
  .mainpara{
    font-family: cursive;
    font-size: 20px;
    font-weight:800;
    font-style: italic;
    margin:20px 0px;
    border:3.5px green dashed;
    padding:30px;

    background: #798EA4;

    color:#363945;
  }
  .para{
    padding:20px 70px;
    border: 5px Green;
    border-style:double;

  }
  .para p{
    font-size: 20px;

    background-color:;
    margin:20px 0px;
    border:3px #555555 dashed;
    padding:30px;

    color:#555555;

  }
  .img{
    height:500px;
    width: 100%;
  }
