#containerdiv
{ 
	float: left; 
	position: relative; 
} 

#backgroun
{ 
	position: absolute; 
top: 0;
right: 0; 
} 

.column {
  float: left;
  width: 25%;
  padding-left: 60px;
  padding-top: 330px;
}
.row {
  clear: both;
  display: table;
  
}
img.im
{
	border:15px solid white;
	  width: 150px;
    height: 150px;
    object-fit: cover;
}
#para{
  font-family: Love;
  font-size: 18px;
  line-height: 40px;
  width:60%;
  padding-left: 18%;
  text-align: justify;
  letter-spacing: 2px;
  padding-top:1%;
}
 
h1#heading1
{
	text-align:center;
}

img#im2
{
	width:400px;
	height:450px;
}

.container {
  position: relative;

}

.text-block {
  position: absolute;
  align:center;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 2 px;
  padding-right: 2px;
}

#polythene
{
   
	border:15px solid white;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

#causes
{
	 font-family: Love;
  font-size: 18px;
  line-height: 40px;
  width:60%;
  padding-left: 18%;
  text-align: justify;
  letter-spacing: 2px;
}

iframe
{
	display: block;
	margin:0 auto;
}

                                                   div.aboutCont{
                                                    background-color: #4E4F50;
                                                    width:102%;
                                                    padding-top: 50px;
                                                    margin-left: -8px;
                                                    padding-bottom: 50px;
                                                    color:white;
                                                    height:500px;
                                                    font-family: Love;

                                                    clear:both;
                                                  }
                                                  div.aboutUs{
                                                    width: 44%;
                                                    margin-left: 2%;
                                                    margin-right: 2%;
                                                    height: 400px;
                                                    float:left;
                                                    line-height: 25px;

                                                  }
                                                  div.aboutCont h3{
                                                    padding-left: 20px;
                                                    letter-spacing: 2px;
                                                  }

                                                  .aboutUs p{
                                                    margin-left: 30px;
                                                    font-size: 25px;
                                                    line-height: 34px;
                                                    letter-spacing: 3px;
                                                    text-align:  justify;

                                                    width:90%;
                                                    padding:0;
                                                    margin:0;
                                                  }

                                                  .aboutUs ul li{
                                                    font-size: 25px;
                                                    line-height: 30px;
                                                  }
