
  #container
  {
    width:1500px;
    height:3000px;
  }
  #heading
  {
    color: green;
    padding:25px;
  }
  #headericon
  {
    float:left;
    width:60px;
  }
  #header
  {
    width:1500px;
    height:150px;
    border-bottom:5px solid green;

  }
  #pageSec ul
  {
    float:right;
    clear: left;
  }
  #pageSec ul li
  {
    display:inline;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 0.25cm;
    border: 1.5px solid green;
  }
  #pageSec a[class="notselect"]
  {
    text-decoration:none;
    color: green;
  }
  #pageSec a:hover
  {
    text-decoration:none;
    color:white;
  }
  #pageSec ul li:hover
  {
    background-color:mediumseagreen;
  }
  .selected{
    background-color:mediumseagreen;
  }
  .selected a{
    color:white;
    text-decoration: none;
  }
  #topic
  {
    clear: right;
    text-align: center;
    color: green;
    font-size:25px;
  }
  #content
  {
   padding:20px;
    color:#555555;
    font-family:Arial,Helvetica,sans-serif;
    font-size:22px;
    text-align:center;
   
   }
  .heading
  {
   color:green;
   padding-left:1em;
  }
  img.human
  {
   text-align: left;
   color: white!important;
   background:rgba(0,0,0,.6);
     opacity: 0.6;
  position: absolute;
  }
  p.activities
  {
   font-size:25px;
   color:red;
   border:5px black;
   overflow:hidden;
   text-align:center;
   background-image:url("Images/human.png");
   width:1490px;
   height:200px;
   padding-top:5em;
   }
   .greenhouse
   {
       padding-left:2em;
       color:Green;
   }

#gases 
{
padding-left:4em;
padding-right:4em;
font-size:20px;
    color:#555555;
    font-family:Arial,Helvetica,sans-serif;
    font-size:22px;
}
.risingemissions
{
    color:green;
    font-family:Arial,Helvetica,sans-serif;
}

.causes
{  
    color:#555555;
    font-family:Arial,Helvetica,sans-serif;
    font-size:22px;
    padding-left:4em;
    padding-right:4em;
}
